[user]
    email = phil@denhoff.ca
    name = Phil Denhoff
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
[core]
    # editor = code --wait
{{- if eq .chezmoi.os "darwin" }}
    editor = ~/Applications/Neovide.app/Contents/MacOS/neovide --multigrid --nofork
{{- else if eq .chezmoi.os "linux" }}
    editor = vim
{{- end }}
    pager = delta
    excludesFile = ~/.gitignore
[init]
    defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true
    features = side-by-side line-numbers decorations
    syntax-theme = Dracula
    plus-style = syntax "#003800"
    minus-style = syntax "#3f0001"
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
    hunk-header-decoration-style = cyan box ul

[delta "line-numbers"]
    line-numbers-left-style = cyan
    line-numbers-right-style = cyan
    line-numbers-minus-style = 124
    line-numbers-plus-style = 28
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
