{{ range gitHubKeys "phildenhoff" -}}
  {{- .Key }} {{ .ID }}
{{ end -}}
{{`ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBFrFe+UZzbafMG8aLu/hN9lFOSYdW+4Sou4qWbIyaNBUOrq5sSn8Boa43TvD0tzjquH+CimKaG92noxmQJ1oQfo= homelab-2021-03-20@secretive.mimosa.local`}}

